extends layout

block styles

block content
  h1= title
  form
    .form-group
      label(for='title') Title
      input#title.form-control(type='text', placeholder='title')
    .form-group
      label(for='publisher') Publisher
      input#publisher.form-control(type='text', placeholder='publisher')
    .form-group
      label(for='platform') Platform
      input#platform.form-control(type='text', placeholder='platform')
    .form-group
      label(for='rating') Rating
      input#rating.form-control(type='text', placeholder='rating')
    .form-group
      label(for='imageurl') Image URL
      input#imageUrl.form-control(type='text', placeholder='image url')

    button.btn.btn-default#addGame(type='submit') Add Game
    hr
    a.btn.btn-info(href='/') Back

block scripts
  script(src='/js/game.js')